*{
  margin: 0;
  padding:0;
  text-decoration: none;
  box-sizing:border-box;
  font-family: montserrat;
}
body{

  background: #e9e9e9;
  height:100%;
  width: 100%;
  overflow:hidden;
}

/*主页信息*/
.right-contion{
  width:100%;
  height:100%;
}
/*顶部导航*/
.right-h1{
  background: #ffffff;
  width: 100%;
  height:70px;
  box-shadow:-5px 5px 5px #b4b3ab;
}
.box-h1{
  width:550px;
  height:50px;
  float:left;
  margin-left:20px;
  margin-top:10px
}
.head-h1{
  font-size:3rem;
  line-height:50px;
  font-weight:bold;
  font-family: "Adobe Ming Std L";
  float: left;
}
.head-xt{
  width:24px;
  height:40px;
  margin-top:5px;
  margin-left:15px;
  border-left:2px solid #999999;
  float:left;
}
.head-nav{
  width: 60%;
  height:50px;
  float:left;
}
.head-icon{
  font-size:25px;
  margin-top:3%;
  float: left;
}
.head-font{
  font-size:2.2rem;
  float: left;
  margin-left:5px;
  line-height: 48px;
}
/*主页信息*/
.right-information{
  width:100%;
  height: 92%;
}
.Top-box{
  width:100%;
  height:75%;
  padding-top:50px;
}
.TopLeft-Map{
  background: #ffffff;
  width:47.5%;
  height:100%;
  float: left;
  border-radius: 15px;
  margin-left:2%;
  box-shadow:10px 10px 15px #b4b3ab;
}
.TopRight-Bird{
  background: #ffffff;
  width:47.5%;
  height:100%;
  float: right;
  margin-right:2%;
  border-radius: 15px;
  box-shadow:10px 10px 15px #b4b3ab;
}
.Bottom-box{
  width:95.8%;
  height: 21%;
  padding-top: 30px;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-left:35px;
}
.Bottom-box1{
  width:70%;
  height:100%;
  background: #ffffff;
  border-radius: 15px;
  box-shadow:10px 10px 5px #b4b3ab;
  background: #00c0ef !important;
}
.Bottom-box2{
  width:70%;
  height:100%;
  background: #ffffff;
  border-radius: 15px;
  box-shadow:10px 10px 5px #b4b3ab;
  margin-left:20px;
  background: #00a65a !important;
}
.Bottom-box3{
  width:70%;
  height:100%;
  background: #ffffff;
  border-radius: 15px;
  box-shadow:10px 10px 5px #b4b3ab;
  margin-left:20px;
  background: #f39c12 !important;
}
.Bottom-box4{
  width:70%;
  height:100%;
  background: #ffffff;
  border-radius: 15px;
  box-shadow:10px 10px 5px #b4b3ab;
  margin-left:20px;
  background: #F64747 !important;
}
.fontSum{
  width:150px;
  height:60px;
  margin-top:20px;
  margin-left:30px;
}

.fontSum span{
  font-size:50px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Adobe 楷体 Std R";
}
.fontSt{
  width:150px;
  height:40px;
  margin-left:30px;
}
.fontSt span{
  font-size:20px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Adobe 楷体 Std R";
}
.icon-box{
  width:50px;
  height:50px;
  float:right;
  margin:-90px 55px 0 0;
}
.small-box{
  width:385px;
  height:30px;
  margin-top:7px;
  background:rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height:35px;
  color: #dfdfdf;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
}
.small-box:hover{
  background:rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.icon-box i{
  font-size:80px;
  color: rgba(0, 0, 0, 0.15);
}

